
body{
  background-image: url(images/mountain.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  margin: auto;
  padding: 10%;
  justify-content: center;
}

.main-body{
  display: flex;
  gap: 10px;
  background-color: rgba(227, 234, 247, 0.5);
  align-self: center;
  
}
.logo{
  align-items: center; 
}


button{
  padding: 5px 20px;
  background-color: rgb(171, 175, 241);
  margin: 20px;

}

.form-group{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 50%;
    
}

.form{
  display: flex;
  flex-direction: column;
}

fieldset{
  display: flex;
  flex-direction: row;
  gap: 10px;
  border: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

